defaults:
  - logging
  - _self_


lon:
  p: 0.3
  max_iter: 10000
  patience: 1000

  num_nodes: 1000
  node_attempts: 1000

  num_kicks: 5
  k: 2


cities_graph:
  min_cord: 0
  max_cord: 50
  dims: 2

experiment:
  instance:
    10
  num_experiments: 1


hydra:
  mode:
    MULTIRUN
  sweeper:
    params:
#      lon.p: 0.05, 0.1, 0.2
#      lon.patience: 100, 200, 500,1000
      experiment.instance: berlin52.csv, st70.csv

version:
  1.0.0